.brand-wrapper.brand-legenda-original .brand-1-screen{
    background:url("../img/background-legenda-original.png") no-repeat center;
    height: 815px;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .container::before{
    background:url("../img/sun-header.png") no-repeat center;
    width: 1802px;
    height: 1200px;
    left: -192px;
    top: -387px;
}
.brand-1-screen-logo{
    position: absolute;
    left: 681px;
    top: 265px;
    z-index: 2;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper h1 .bg-text{
    top: 32px;
    left: -337px;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text{
    left: 152px;
    top: 180px;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-1{
    transform: none;
    font-family: "Coca-Cola Regular rus-lat";
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 100px;
    top: 199px;
    color: #FFFFFF;
    top: 188px;
    left: 124px;
    display: block;
    background: radial-gradient(50% 594.22% at 50% 50%, #CA8B12 0%, #C73000 100%);
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
    width: 365px;
    height: 114px;
    padding-top: 12px;
    z-index: -1;
    padding-left: 29px;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper h1 .bg-text > span{
    font-family: "PartnerCondensed";
    font-style: normal;
    font-weight: bold;
    font-size: 140px;
    line-height: 189px;
    text-transform: uppercase;

    color: #FFFFFF;

    opacity: 0.3;
    transform: rotate(-90deg);

}
.brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper h1 .not-bg-text{
    font-family: "PartnerCondensed";
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 95px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
    left: 315px;
    top: 251px;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .info-wrap .content .table-flex .tr + .tr{
    margin-top: 23px;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .info-wrap .content .table-flex .tr .td:nth-child(1){
    font-family: "PartnerCondensed";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 6px;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .info-wrap .content .table-flex .tr .td:nth-child(2){
    font-family: "PartnerCondensed";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */

    text-align: left;
    margin-bottom: 6px;
    color: #FFFFFF;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .info-wrap .content{
    margin: 0;
    padding-left: 23px;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .info-wrap{
    left: 301px;
    margin-bottom: 25px;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .info-wrap .content::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    /* width: 220px;
    height: 233px; */
    width: 238px;
    height: 252px;
    background: url("../img/info-border-2.png") no-repeat center;
        background-size: auto;
    background-size: contain;
    z-index: -1;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-2{
    font-family: "Coca-Cola Regular rus-lat";
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 73px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    text-transform:none;
    margin: 0;
    padding: 0;
    top: 378px;
    left: 506px;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-3{
    font-family: "Coca-Cola Regular rus-lat";
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 73px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    text-transform:none;
    margin: 0;
    padding: 0;
    top: 411px;
    left: 572px;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .img-wrap{
    position: absolute;
    left: 864px;
    top: 241.25px;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .img-wrap img.bottle{
    width: 207px;

}
.factory{
    position: absolute;
    display: block;
    top: 358px;
    left: 471px;
}
.brand-wrapper.brand-legenda-original .brand-2-screen{
    background:#F8F5EF url("../img/brand-2-screen.png");
    height: 424px;
}
.brand-wrapper.brand-legenda-original .brand-2-screen .prlx-wrap > img:nth-child(1){
    left: 444px !important;
    top: 55px !important;
}
.brand-wrapper.brand-legenda-original .brand-2-screen .prlx-wrap > img:nth-child(2){
    left: 366px !important;
    bottom: 57px !important;
}
.legenda-original-advantage{
    font-family: "Market Deco [RUS by Daymarius]";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 69px;
}
.legenda-original-advantage p{
    max-width: 467px;
    margin-right: 33px;
}
.legenda-original-advantage p:last-child{
    margin-top: 15px;
}
.hop-left{
    position: absolute;
    left: 0px;
    top: -37px;
}
.hop-right{
    position: absolute;
    top: -26px;
    right: -84px;
}
.brand-wrapper.brand-legenda-original .brand-3-screen{
    height: 888px;
    background: radial-gradient(58.68% 429.43% at 54.66% 49.92%, #423928 0%, #000000 100%);
}
.brand-wrapper.brand-legenda-original .brand-3-screen .our-text{
    margin: 0;
    padding: 0;
    margin-top: 103px;
    max-width: 544px;
}
.title-legend-original{
    font-family: "Coca-Cola Regular rus-lat";
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 100px;
    color: #FFFFFF;
    text-transform: none !important;
    display: block;
    text-align: left;
    padding-left: 0px;
    margin-bottom: 19px;
}
.title-legend-original-ul,.title-legend-original-li{
    font-family: "Market Deco [RUS by Daymarius]";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    text-align: left;
}
.title-legend-original-ul{
    padding-left: 23px;
    margin-bottom: 35px;
}
.title-legend-original-li{
    padding-left: 23px;
}
.brand-3-screen-back-img{
    position: absolute;
    top: -128px;
    left: 120px;
    z-index: -4;
}
.size{
    font-family: "Market Deco [RUS by Daymarius]";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    width: 60px;
    height: 60px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.size-name{
    margin-left: 20px;
    font-family: "Market Deco [RUS by Daymarius]";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */

    text-transform: uppercase;

    color: #FFFFFF;
}
.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 23px;
    margin-top: 41px;
}
.volume{
    margin-right: 34px;
}
.volume div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.volume div:first-child{
    margin-bottom: 18px;
    padding-top: 3px;
}
.covers{
    margin-top: 4px;
}
.brand-wrapper.brand-legenda-original + footer{
    z-index: 10;
    background: #5b5525;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .prlx-wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    width: 1170px;
    height: 100%;
    z-index: -1;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .prlx-wrap img:nth-child(1){
    left: -378px !important;
    top: 188px !important;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .prlx-wrap img:nth-child(2){
    left: -234px !important;
    top: 459px !important;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .prlx-wrap img:nth-child(3){
    top: 32px !important;
    left: 1262px !important;
}
.brand-wrapper.brand-legenda-original .brand-1-screen .prlx-wrap img:nth-child(4){
    top: 340px !important;
    left: 1252px !important;
}
.brand-wrapper.brand-legenda-original .brand-3-screen .prlx-wrap img:nth-child(1){
    top: 293px !important;
}
 .brand-wrapper.brand-legenda-original .brand-3-screen .prlx-wrap img:nth-child(2){
    top: 400px !important;
    left: 113px !important;
}
.brand-wrapper.brand-legenda-original .brand-3-screen .prlx-wrap img:nth-child(3){
    left: 441px !important;
    top: 627px !important;
}
.brand-wrapper.brand-legenda-original .brand-3-screen .prlx-wrap img:nth-child(4){
    top: 349px !important;
    left: 591px !important;
}
.brand-wrapper.brand-legenda-original .brand-3-screen .prlx-wrap img:nth-child(5){
    left: 1276px !important;
    top: 530px !important;
}
.brand-wrapper.brand-legenda-original .brand-3-screen .prlx-wrap img:nth-child(6){
    left: 1650px !important;
    top: 376px !important;
}
#parallax-img-original-b3{
    position: absolute;
    height: 888px;
    width: 100%;
}
footer .flex .footer-contact li.address::after{
    background-image: url("https://dpzcompany.com/wp-content/themes/beer/img/footer-contact-1.png") !important;
}
footer .flex .footer-contact li.phone::after{
    background-image: url("https://dpzcompany.com/wp-content/themes/beer/img/footer-contact-2.png") !important;
}
footer .flex .footer-contact li.email::after{
    background-image: url("https://dpzcompany.com/wp-content/themes/beer/img/footer-contact-4.png");
}
@media (max-width: 1199px) {
    .brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .info-wrap {
        left: 350px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .img-wrap img.bottle{
        width: 163px;
        height: auto;   
    }
    .hop-right{
        display: none;
    }
    .beer{
        width: 200px;
    }
    .factory{
        top: 400px;
        left: 421px;
        width: 460px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-2{
        left: 456px;
        font-size: 45px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-3{
        left: 503px;
        font-size: 45px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .container::before{
        width: 1602px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-1{
        padding-right: 30px;
        left: 139px;
        padding-left: 18px;
        width: 267px;
        padding-top: 10px;
        height: 108px;
        font-size: 65px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper h1 .bg-text{
        left: -258px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper h1 .bg-text > span{
        font-size: 120px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper h1 .not-bg-text{
        left: 287px;
        font-size: 59px;
    }
    .brand-1-screen-logo{
        left: 595px;
        top: 346px;
    }
    .brand-1-screen-logo img{
        width: 200px;
    }
    .brand-wrapper.brand-legenda-original .brand-2-screen .prlx-wrap > img:nth-child(1){
        left: 344px !important;
    }
    .brand-wrapper.brand-legenda-original .brand-2-screen .prlx-wrap > img:nth-child(2){
        left: 266px !important;
    }
}
@media (max-width: 991px) {
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-2{
        left: 406px;
        font-size: 45px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-3{
        left: 453px;
        font-size: 45px;
    }
    .brand-1-screen-logo{
        left: 526px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .img-wrap img.bottle{
        display: none;
    }
    .factory{
        display: none;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .beer{
        width: 150px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper h1 .bg-text > span{
        font-size: 80px
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper h1 .bg-text{
        left: -87px;
        top: 91px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .info-wrap .content .table-flex .tr .td{
        font-size: 16px !important;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .info-wrap .content::before{
        width: 190px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper h1 .not-bg-text{
        left: 257px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-1{
        width: 170px;
        font-size: 42px;
        line-height: initial;
        height: 70px;
        left: 107px;
        top: 179px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .info-wrap .content{
        padding-left: 0;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .info-wrap{
        left: 315px;
        top: 34px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen{
        height: 751px;
    }
    .legenda-original-advantage{
        align-items: flex-start;
        margin-left: 25px;
    }
    .brand-wrapper.brand-legenda-original .brand-2-screen .prlx-wrap > img:nth-child(1){
        left: 644px !important;
    }
    .brand-wrapper.brand-legenda-original .brand-2-screen .prlx-wrap > img:nth-child(2){
        left: 544px !important;
    }
    .brand-wrapper.brand-legenda-original .brand-3-screen .our-text{
        margin-top: 50px;
    }
    .brand-3-screen-back-img{
        left: -100px;
    }
    .title-legend-original-ul{
        padding-left: 0;
    }
    .title-legend-original-li{
        padding-left: 0;
    }
    .options{
        padding-left: 0;
    }
}
 @media (max-width: 767px) {
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper h1 .bg-text{
        top: -46px;
        left: -10px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper h1 .not-bg-text{
        top: -113px;
        left: -4px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text{
        top: -155px;
        margin-top: 0px;
        left: 0px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text{
        top: -155px;
        margin-top: 0px;
        left: 0px;
        display: grid;
        grid-template-rows: 100% 100% 100% 100%;
        grid-template-columns: 25% 50%;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .beer{
        grid-row: 1/4;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-1{
        font-size: 42px;
        line-height: initial;
        height: 60px;
        left: 107px;
        top: 179px;
        padding-top: 5px !important;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-2{
        position: absolute !important;
        top: 140px !important;
        left: auto !important;
        right: -90px !important;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-3{
        position: absolute !important;
        top: 180px !important;
        left: auto !important;
        right: -150px !important;
    }
    .brand-1-screen-logo
    {
        left: 255px;
    }
    .factory{
        display: block;
        top: 300px;
        left: 321px;
    }
    .brand-1-screen-logo img{
        width:150px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper{
        position: absolute;
        top: 136px;
        left: -143px;
        margin-top: 0 !important;
    }
    .legenda-original-advantage{
        width: 100%;
        font-size: 18px;
        align-items: flex-end;
    }
    .brand-wrapper.brand-legenda-original .brand-2-screen .prlx-wrap{
        display: block !important;
    }
    .brand-wrapper.brand-legenda-original .brand-2-screen .prlx-wrap > img:nth-child(1){
        left: 25px !important;
        z-index: 1;
    }
    .brand-wrapper.brand-legenda-original .brand-2-screen .prlx-wrap > img:nth-child(2){
        left: 88px !important;
        z-index: 1;
    }
    .hop-left{
        z-index: -3;
    }
    .legenda-original-advantage p{
        padding-right: 25px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper{
        margin-bottom: -55px;
    }
    .brand-3-screen-back-img{
        left: -177px;
        top: -32px;
    }
    .brand-wrapper.brand-legenda-original .brand-3-screen{
        height: 1007px;
    }
}
@media (max-width: 660px){
    .legenda-original-advantage{
        max-width: 450px;
        margin-left: auto;
        /* font-size: 16px; */
    }
    .brand-1-screen-logo
    {
        left: 210px;
    }
}
@media (max-width: 580px){
    .brand-wrapper.brand-legenda-original .brand-2-screen .prlx-wrap{
        display: none !important;
    }
    .legenda-original-advantage{
        margin: 0 auto;
        padding: 0;
        max-width: 400px;
    }
    .legenda-original-advantage p{
        margin: 0;
        padding: 0;
    }
    .factory{
        display: none;
    }
    .brand-1-screen-logo
    {
        top: 400px;
        left: auto;
        right: 50px;
    }
    .brand-1-screen-logo img{
        width: 100px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-2{
        position: absolute !important;
        top: 50px !important;
        left: auto !important;
        right: -30px !important;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-3{
        position: absolute !important;
        top: 80px !important;
        left: auto !important;
        right: -90px !important;
    }
    .title-legend-original{
        font-size: 65px;
    }
    #parallax-img-original-b3{
        display: none;
    }
}
@media (max-width: 479px){
    .brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper{
        top: 241px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .info-wrap .content::before{
        width: 172px;
        left: 41px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .bottle-wrapper .info-wrap .table-flex{
        margin-left: -20px;
    }
    .brand-3-screen-back-img{
        top: 247px;
        left: -373px;
    }
    .brand-wrapper.brand-legenda-original .brand-3-screen{
        height: 1281px;
    }
}
@media (max-width: 479px) {
    .factory{
        display: none;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-2{
        right: -30px !important;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .span-3{
        right: -80px !important;
    }
}
@media (max-width: 420px){
    .legenda-original-advantage{
        max-width: 300px;
    }
}
/* cup-of-light */
.brand-wrapper.brand-cup-light .brand-1-screen{
    background: url("../img/background-cup-light.png") no-repeat center;
}
.brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper h1 .bg-text{
    left: -325px;
    top: 37px;
}
.brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper .dop-text{
    left: 83px;
    top: 196px;
}
.brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper h1 .not-bg-text{
    font-family: "PartnerCondensed";
    font-style: normal;
    font-weight: bold;
    font-size: 138px;
    line-height: 187px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.3;
    left: 269px;
    top: 220px;
}
.brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper .dop-text .span-1{
    font-family: "Coca-Cola Regular rus-lat";
    font-style: normal;
    font-weight: normal;
    font-size: 168px;
    line-height: 223px;
    color: #FFFFFF;
    background:none;
    box-shadow:none;
    top: 210px;
    left: 210px;
    line-height: inherit;
}
.brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper .dop-text .span-1::after{
    content: '';
    background-image: url("../img/cup-light-underline.png");
    background-size: 693px 160px;
    margin-left: -129px;
    display: inline-block;
    width: 693px; 
    height: 160px;
}
.brand-wrapper.brand-cup-light .brand-1-screen .brand-1-screen-logo{
    top: 174px;
    left: 775px;
}
.brand-wrapper.brand-cup-light .brand-1-screen .container::before{
    display: none;
}
.brand-wrapper.brand-cup-light .brand-1-screen .bottle-wrapper .img-wrap{
    position: absolute;
    left: 573px;
    top: 422px;
}
.brand-wrapper.brand-cup-light .brand-1-screen .bottle-wrapper .img-wrap img.bottle{
    width: auto;
    height: 173px;
}
.brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper .dop-text .span-2{
    display: none;
}
.brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper .dop-text .span-3{
    display: none;
}
.ears{
    position: absolute;
    top: 312px;
    left: 643px;
}
.brand-wrapper.brand-cup-light .brand-2-screen{
    background:radial-gradient(60.57% 552.04% at 39.97% 53.3%, #FFD480 0%, #8F754D 100%);
    background: url("../img/brand-2-screen-cup-light.png") no-repeat;
    background-position: center center;
    height: 503px;
}
.brand-wrapper.brand-cup-light .brand-2-screen .prlx-wrap > img:nth-child(1){
    left: 40px !important;
    top: 234px !important;
}
.brand-wrapper.brand-cup-light .brand-2-screen .prlx-wrap > img:nth-child(2){
    left: 215px !important;
    top: 340px !important;
}
.cup-light-advantage{
    font-family: "Market Deco [RUS by Daymarius]";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
    max-width: 100%;
    margin-left: -22px;
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cup-light-advantage p{
    max-width: 643px;
}
.cup-light-advantage p:first-child{
    margin-bottom: 59px;
}
.brand-wrapper.brand-cup-light .brand-3-screen{
    background: url("../img/brand-3-screen-cup-light.png") no-repeat;
    height: 803px;
    margin-top: 0px;
    margin-bottom: -12px;
    background-position: center center;
}
.brand-wrapper.brand-cup-light .brand-3-screen .our .text-wrap {
    padding: 0;
}
.brand-wrapper.brand-cup-light .brand-3-screen .our-text{
    text-align: left;
    margin-top: 91px;
    line-height: 1.06;
    max-width: 630px
}
.title-cup-light{
    font-family: "Market Deco [RUS by Daymarius]";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    /* or 34px */

    text-transform: uppercase;

    color: #000000;
}
.brand-wrapper.brand-cup-light .brand-3-screen .prlx-wrap img:nth-child(1){
    top: 421px !important;
    left: 392px !important;
}
.brand-wrapper.brand-cup-light .brand-3-screen .our .text-wrap .brand-3-screen-back-img{
    top: 421px;
    left: 19px;
}
.brand-wrapper.brand-cup-light + footer{
    background:#224d2f;
}
.brand-wrapper.brand-cup-light .brand-2-screen{
    margin-bottom: -6px;
}
@media (max-width: 1199px) {
    .brand-wrapper.brand-cup-light .brand-1-screen .brand-1-screen-logo img{
        width: 300px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper h1 .bg-text{
        left: -260px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper .dop-text{
        left: 128px;
    }
    .ears{
        left: 500px;
    }
    .cup-light-advantage{
        font-size: 18px;
    }
    .brand-wrapper.brand-cup-light .brand-3-screen .our-text{
        max-width: 550px;
        padding-left: 30px;
    }
    .title-cup-light{
        font-size: 20px;
    }
}
@media (max-width: 991px) {
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper h1 .bg-text{
        left: -100px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper h1 .not-bg-text{
        font-size: 100px;
        left: 220px;
        top: 150px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper .dop-text .span-1{
        font-size: 120px;
        left: 100px;
        top: 125px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper .dop-text .span-1::after{
        background-size: 500px 160px;
        margin-left: -100px;
        width: 500px;
        height: 160px;
    }
    .ears{
        left: 300px;
        top: 153px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .brand-1-screen-logo{
        left: 575px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .brand-1-screen-logo img{
        width: 250px;
    }
    .cup-light-advantage{
        margin-top: -10px;
    }
}
 @media (max-width: 767px) {
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper h1 .bg-text{
        transform: inherit;
        left: 100px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper .dop-text{
        top: -196px;
        left: 1px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .bottle-wrapper .info-wrap{
        left: 369px;
        top: -5px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper h1 .bg-text{
        left: 0px;
        top: -59px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper h1 .not-bg-text{
        left: 0px;
        top: -158px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .brand-1-screen-logo img{
        width: 150px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .brand-1-screen-logo{
        left: 290px;
        top: 400px;
    }
    .ears{
        top: 21px;
        left: 335px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper .dop-text .span-1{
        font-size: 90px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper .dop-text .span-1::after{
        background-size: 300px 160px;
        margin-left: -6px;
        width: 300px;
        height: 160px;
        margin-top: -35px;
    }
    .cup-light-advantage{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }
    .brand-wrapper.brand-cup-light .brand-2-screen .prlx-wrap
    {
        display: block !important;
    }
    .cup-light-advantage p:first-child{
        margin-bottom: 25px;
    }
 }
 @media (max-width: 420px) {
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper h1 .bg-text > span{
        font-size: 60px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper h1 .not-bg-text{
        font-size: 70px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper .dop-text .span-1{
        font-size: 75px;
        margin-left: 25px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .brand-1-screen-logo{
        display: none;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper .dop-text .span-1::after{
        background-size: 200px 160px;
        margin-left:0px;
        width: 200px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .bottle-wrapper .info-wrap{
        left: 316px;
        top: -57px;
    }
    .brand-wrapper.brand-cup-light .brand-1-screen .text-wrapper .dop-text{
        left: -15px;
    }
 }
 /* potable water */
 .page-template-brand-potable-water .brand-page header{
    height: 191px;
    top: 0px;
    background: radial-gradient(70.68% 6028.78% at 40.34% 29.32%, #3955A2 0%, #031649 100%);
 }
 .page-template-brand-potable-water .brand-page header.scroll{
    height: 50px !important;
 }
 .brand-wrapper.brand-potable-water .brand-1-screen{
    height: 1005px;
    background-image: url("../img/potable-water-header-brand-1-screen-background.png");
    background-position: center center;
 }
 .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper h1 .bg-text > span{
    font-family: "PartnerCondensed";
    font-style: normal;
    font-weight: bold;
    font-size: 124px;
    line-height: 168px;
    text-transform: uppercase;
    color: #04174B;
    opacity: 0.3;
 }
 .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper h1 .bg-text{
    left: -392px;
    top: 135px;
 }
 .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text{
    left: -376px;
    top: 166px;
 }
 .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper h1 .not-bg-text{
    font-family: "PartnerCondensed";
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 122px;
    text-transform: uppercase;
    color: #04174B;
    opacity: 0.3;
 }
 .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper h1 .not-bg-text{
    left: 255px;
    top: 272px;
 }
 .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .span-1{
    font-family: "Coca-Cola Regular rus-lat";
    font-style: normal;
    font-weight: normal;
    font-size: 161px;
    color: #A7B4D6;
    left: 645px;
    top: 306px;
    width: 845px;
 }
 .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .span-1::after{
    content: '';
    background-image: url("../img/potable-water-underline.png");
    background-size: 799px 143px;
    margin-left: 0;
    margin-top: 15px;
    display: inline-block;
    width: 799px; 
    height: 143px;
}
.brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .potable-water-description{
    display: block;
    position: absolute;
    top: 0;
    font-family: "Market Deco [RUS by Daymarius]";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #06194D;
    max-width: 670px;
    top: 577px;
    left: 876px;
}
.brand-wrapper.brand-potable-water .brand-2-screen{
    height: 600px;
    background: #FFFFFF;
}
.potable-water-advantage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -144px;
}
.potable-water-advantage .text{
    font-family: "Market Deco [RUS by Daymarius]";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #06194D;
    margin-top: 25px;
    margin-right: -17px;
}
.potable-water-advantage img{
    margin-right: -84px;
    margin-top: -29px;
}
.brand-wrapper.brand-potable-water .brand-1-screen .prlx-wrap img:nth-child(1){
    left: 516px !important;
    top: -70px !important;
}
.brand-wrapper.brand-potable-water .brand-1-screen .prlx-wrap img:nth-child(2){
    left: -385px !important;
    top: 688px !important;
}
.brand-wrapper.brand-potable-water .brand-1-screen .prlx-wrap img:nth-child(3){
    top: 802px !important;
    left: -13px !important;
}
.brand-wrapper.brand-potable-water .brand-1-screen .prlx-wrap img:nth-child(4){
    top: 771px !important;
    left: 1419px !important;
}
.brand-wrapper.brand-potable-water .brand-1-screen .prlx-wrap img:nth-child(5){
    top: 700px !important;
    left: 1350px !important;
}
.brand-wrapper.brand-potable-water .brand-2-screen .prlx-wrap > img:nth-child(1){
    left: -384px !important;
    top: 354px !important;
}
.brand-wrapper.brand-potable-water .brand-2-screen .prlx-wrap > img:nth-child(2){
    left: -169px !important;
    top: 469px !important;
}
.brand-wrapper.brand-potable-water .brand-3-screen{
    height: 803px;
    background-image: url("../img/potable-water-b3-background.png");
    background-position: center center;
}
.title-potable-water{
    font-family: "Market Deco [RUS by Daymarius]";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #06194D;
}
.brand-wrapper.brand-potable-water .brand-3-screen .our-text{
    margin-top: 248px;
    margin-left: 571px;
    display: block;
    position: relative;
    top: -444px;
}
.title-potable-water-background{
    position: absolute;
    top: -1100px;
    z-index: -1;
}
.brand-wrapper.brand-potable-water .brand-3-screen .our-text .title-potable-water p:first-child{
    margin-bottom: 43px;
}
.brand-wrapper.brand-potable-water + footer{
    background: radial-gradient(70.68% 6028.78% at 40.34% 29.32%, #3955A2 0%, #031649 100%);
}
.brand-wrapper.brand-potable-water .brand-3-screen .prlx-wrap img:nth-child(1){
    left: 30px !important;
    top: 400px !important;
}
.brand-wrapper.brand-potable-water .brand-3-screen .prlx-wrap img:nth-child(2){
    top: 450px !important;
    left: 213px !important;
}
.brand-wrapper.brand-potable-water .brand-3-screen .prlx-wrap img:nth-child(3){
    left: 1591px !important;
    top: 726px !important;
}
.brand-wrapper.brand-potable-water .brand-3-screen .prlx-wrap img:nth-child(4){
    left: 1730px !important;
    top: 400px !important;
}
.brand-wrapper.brand-potable-water .brand-3-screen .prlx-wrap img:nth-child(5){
    left: 1942px !important;
    top: 400px !important;
}
@media (max-width: 1199px) {
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text{
        left: -256px;
        top: 335px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .beer{
        width: 700px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper h1 .bg-text > span{
        font-size: 100px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper h1 .bg-text{
        left: -289px;
        top: 248px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper h1 .not-bg-text{
        font-size: 70px;
        top: 332px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .span-1{
        font-size: 120px;
        left: 410px;
        top: 180px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .span-1::after{
        background-size: 699px 143px;
        width: 699px;
        margin-top: -15px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .potable-water-description{
        font-size: 20px;
        top: 385px;
        left: 576px;
        padding-left: 103px;
        padding-right: 24px
    }
    .brand-wrapper.brand-potable-water .brand-2-screen{
        height: 450px;
    }
    .potable-water-advantage{
        margin-top: -64px;
    }
    .potable-water-advantage .text{
        padding-left: 32px;
    }
    .potable-water-advantage img{
        padding-right: 0px;
        margin-top: -51px;
        margin-right: -21px;
        width: 470px;
    }
    #parallax-img-2{
        display: none;
    }
    .brand-wrapper.brand-potable-water .brand-3-screen .our-text{
        top: 0;
    }
    .title-potable-water-background{
        top: -590px;
    }
}
@media (max-width: 991px) {
    .page-template-brand-potable-water .brand-page header{
        height: 60px !important;
    }
    .page-template-brand-potable-water .brand-page header .logo-wrap .navbar-brand img{
        width: 45px !important;
    }
    .page-template-brand-potable-water .brand-page header.scroll{
        height: 60px !important;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .potable-water-description{
        top: 328px;
        font-size: 18px;
        padding-left: 0px;
        left: 494px;
        top: 212px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .prlx-wrap{
        display: none;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .beer{
        width: 500px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text{
        left: -179px;
        top: 400px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper h1 .bg-text > span{
        font-size: 75px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper h1 .bg-text{
        left: -194px;
        /* top: 231px; */
        top: 261px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .span-1{
        font-size: 90px;
        left: 184px;
        top: 75px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .span-1::after
    {
        background-size: 499px 143px;
        width: 499px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen{
        margin-top: -240px;
    }
    .potable-water-advantage .text{
        font-size: 18px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen{
        height: 900px;
    }
    .brand-wrapper.brand-potable-water .brand-3-screen .our-text{
        margin-left: 300px;
    }
    .title-potable-water{
        font-size: 18px;
    }
    .title-potable-water-background{
        left: -150px;
    }
}
@media (max-width: 767px) {
    .title-potable-water{
        font-size: 18px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper h1 .bg-text{
        left: 0px;
        top: 210px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper h1 .not-bg-text{
        top: 146px;
        left: 0px;  
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text{
        top: 100px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .span-1::after{
        background-size: 300px 143px;
        width: 300px;
        margin-top: -35px;
        margin-left: -40px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .span-1{
        margin-left: 210px;
        font-size: 50px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .potable-water-description{
        margin-right: -195px;
        top: 120px;
        font-size: 16px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .beer{
        margin-top: -20px;
    }
    .potable-water-advantage{
        margin-top: 110px;
    }
    .potable-water-advantage .text{
        font-size: 16px;
        margin-top: -10px;
    }
    .potable-water-advantage img{
        width: 270px;
    }
    .brand-wrapper.brand-potable-water .brand-3-screen .our-text{
        max-width: 350px;
        margin-left: 150px;
    }
    .title-potable-water-background{
        left: -450px;
    }
}
@media (max-width: 540px) {
    .title-potable-water{
        font-size: 16px;
    }
    .brand-wrapper.brand-potable-water .brand-3-screen .our-text{
        max-width: 300;
        margin-left: 0;
    }
    .brand-wrapper.brand-potable-water .brand-3-screen{
        height: 603px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text{
        left: -342px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .span-1{
        /* margin-left: 293px; */
        margin-left: 280px;
        font-size: 55px;
        display: block;
        width: 300px !important;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .span-1::after{
        display: none;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper .dop-text .potable-water-description{
        left: 409px;
        right: -179.833px;
        top: 150px;
        background: #fff;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper h1 .bg-text > span{
        font-size: 65px;
    }
    .brand-wrapper.brand-potable-water .brand-1-screen .text-wrapper h1 .not-bg-text{
        font-size: 60px;
    }
    .potable-water-advantage{
        margin: 0;
        padding: 0;
        flex-direction: column-reverse;
    }
    .potable-water-advantage .text{
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
        margin-top: 10px;
        text-align: center;
    }
}
/* zhigulevskoe-draft */
.brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen{
    background-image: url("../img/background-zhigulevskoe-draft.png");
    background-position: center center;
    height: 759px;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .container::before{
    display: none;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text{
    left: 68px;
    top: 163px;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper h1 .bg-text > span{
    font-family: "Market Deco [RUS by Daymarius]";
    font-style: normal;
    font-weight: normal;
    font-size: 84px;
    line-height: 189px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.3;
    transform: rotate(-90deg);
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper h1 .bg-text{
    left: -366px;
    top: -5px;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper h1 .not-bg-text{
    left: 346px;
    top: 131px;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-1{
    background: none;
    box-shadow:none;
    width: auto;
    font-family: "Sitka Small Bold";
    font-style: normal;
    font-weight: normal;
    font-size: 84px;
    color: #36b6ef;
    display: block;
    left: 387px;
    top: 158px;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .bottle-wrapper .info-wrap{
    top: -71px;
    left: 309px;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-2{
    left: 748px;
    top: 169px;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-3{
    top: 324px;
    left: 621px;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .prlx-wrap img:nth-child(1){
    left: 997px !important;
    top: 145px !important;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .prlx-wrap img:nth-child(2){
    left: 1120px !important;
    top: 300px !important;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-2-screen{
    background-image: url("../img/zhigulevskoe-draft-bs2-background.png");
    background-position: center center;
    height: 474px;
}
.zhigulevskoe-draft-bs2-img1{
    position: absolute;
    left: 923px;
    top: 1004px;
    z-index: 3;
}
.zhigulevskoe-draft-bs2-img2{
    position: absolute;
    top: 704px;
    left: 1089px;
    z-index: 2;
}
.zhigulevskoe-draft-advantage{
    font-family: "Market Deco [RUS by Daymarius]";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 69px;
    max-width: 400px;
    margin-top: 175px;
    margin-left: 116px;
}
.zhigulevskoe-draft-advantage p.white{
    color:#FFFFFF;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-2-screen .prlx-wrap > img:nth-child(1){
    left: 246px !important;
    top: 360px !important;
    z-index: 2;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-2-screen .prlx-wrap > img:nth-child(2){
    left: 560px !important;
    top: 60px !important;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-3-screen{
    z-index: 0;
    min-height: 660px;
    height: 660px;
    background-image: url("../img/zhigulevskoe-draft-bs3-background.png");
}
.title-zhigulevskoe-draft{
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
.title-zhigulevskoe-draft-ul{
    display: block;
    text-align: center;
}
.title-zhigulevskoe-draft-li{
    display: block;
    text-align: center;
    width: 132%;
    margin-left: -96px;
    margin-top: 76px;
    color: #3e3e39;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-3-screen .our-text{
    /* margin-left:  */
    max-width: 785px;
    margin-top: 130px;
    margin-left: 579px;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-4-screen{
    min-height: 459px;
    height: 459px;
    background-image: url("../img/zhigulevskoe-draft-bs4-background.png");
}
.img-bottle05{
    position: absolute;
    left: 613px;
    top: 103px;
}
.img-bottle1{
    position: absolute;
    left: 779px;
    top: 5px;
}
.img-bottle15{
    position: absolute;
    top: -31px;
    left: 918px;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-4-screen .pak-title{
    font-size: 16px;
    margin-left: -67px;
    margin-bottom: 21px;
    margin-top: 8px;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-4-screen .pak table tr td:nth-child(2){
    font-size: 13px;
    margin-top: 9px;
    display: block;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-4-screen .pak table tr td span{
    width: 44px;
    height: 44px;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-4-screen .pak table tr td:nth-child(1){
    font-size: 16px;
    line-height: 40px;    
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-4-screen .pak{
    margin-left: 41.333%;
    margin-top: 93px;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-4-screen .pak table{
    width: 79%;
}
.brand-4-screen-text{
    position: absolute;
    left: 18px;
    top: 13px;
}
.brand-4-screen-text img{
    margin-bottom: 97px;
}
.brand-4-screen-text p{
    font-family: "PartnerCondensed";
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    color: #fff;
    max-width: 400px;
    line-height: 42px;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-4-screen .prlx-wrap > img:nth-child(1){
    left: 800px !important;
    top: 15px !important;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-4-screen .prlx-wrap > img:nth-child(2){
    left: 680px !important;
    top: 65px !important;
}
.brand-wrapper.brand-zhigulevskoe-draft .brand-4-screen .prlx-wrap > img:nth-child(3){
    left: 710px !important;
    top: 290px !important;
}
.brand-wrapper.brand-zhigulevskoe-draft + footer{
    background: #779528;
}
@media (max-width: 1470px) {
    .zhigulevskoe-draft-bs2-img2{
        left: 940px;
    }
    .zhigulevskoe-draft-bs2-img1{
        left: 790px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-3-screen .our-text{
        margin-right: auto;
        margin-left: auto;
    }
    .title-zhigulevskoe-draft-li{
        width: 100%;
        margin-left: 0;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-3-screen .container{
        background-image: url("../img/zhigulevskoe-draft-our-text-background.png");
        background-position: center center;
        height: 100% !important;
        box-sizing: content-box;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-3-screen{
        padding-bottom: 0;
    }
    /* zhigulevskoe-draft-our-text-background.png */
}
@media (max-width: 1199px) {
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text{
        top: 300px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper h1 .bg-text > span{
        font-size: 64px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper h1 .bg-text{
        left: -250px;
        top: 72px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper h1 .not-bg-text{
        /* 992 */
        left: 214px;
        /*  */
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-1{
        /* 992 */
        left: 284px;
        top: 14px;
        /*  */
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .bottle-wrapper .info-wrap .content::before{
        width: 200px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .bottle-wrapper .info-wrap .content .table-flex .tr .td:nth-child(1){
        font-size: 18px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .bottle-wrapper .info-wrap{
        left: 250px;
        top: -78px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .prlx-wrap img:nth-child(1){
        left: 897px !important;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .prlx-wrap img:nth-child(2){
        left: 1020px !important;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-2{
        top: 115px;
        left: 611px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-2 img {
        width: 150px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-3{
        top: 216px;
        left: 483px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-3 img{
        width: 340px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen{
        height: 721px;
    }
    .zhigulevskoe-draft-bs2-img2{
        left: 640px;
        top: 671px;
    }
    .zhigulevskoe-draft-bs2-img1{
        left: 590px;
    }
    .brand-4-screen-text p{
        font-size: 28px;
        max-width: 350px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-4-screen .pak{
        margin-left: 45.333%;
    }
    .img-bottle05{
        top: 203px;
        width: 150px;
        left: 613px;
    }
    .img-bottle1{
        top: 105px;
        left: 712px;
        width: 150px;
    }
    .img-bottle15{
        top: 141px;
        left: 818px;
        width: 150px;
    }
}

@media (max-width: 991px) {
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper h1 .not-bg-text{
        left: 99px;
        top: 73px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper h1 .bg-text{
        top: 72px;
    }
    .brand-wrapper.brand-legenda-original .brand-1-screen .text-wrapper .dop-text .beer{
        width: 200px !important;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-1{
        top: -40px;
        left: 179px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-2{
        left: 464px;
        top: 85px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-3{
        left: 383px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-3 img{
        width: 290px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .bottle-wrapper .info-wrap{
        top: 45px;
        left: 264px;
    }
    .zhigulevskoe-draft-advantage{
        margin-left: 48px;
        margin-top: 84px;
        width: 400px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-2-screen .prlx-wrap > img:nth-child(2){
        display: none !important;
    }
    .zhigulevskoe-draft-bs2-img2{
        left: 500px;
        top: 671px;
    }
    .zhigulevskoe-draft-bs2-img1{
        left: 450px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-4-screen .pak{
        margin-left: 55.333%;
    }
    .img-bottle05{
        left: 467px;
    }
    .img-bottle1{
        left: 566px;
    }
    .img-bottle15{
        left: 652px;
    }
}
@media (max-width: 767px) {
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper h1 .not-bg-text{
        left: 0px;
        top: 26px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper h1 .bg-text{
        display: none;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text{
        top: 0px;
        left: -199px;
        display: block !important;
        margin-bottom: -67px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-1{
        top: -530px !important;
        left: 228px !important;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .bottle-wrapper .info-wrap{
        left: 61%;
        top: 8px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-2{
        left: 413px !important;
        top: 87px !important;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-2 img{
        width: 125px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-3{
        left: 410px !important;
        top: 203px !important;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-3 img{
        width: 220px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-3-screen{
        min-height: 450px;
        height: 450px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-3-screen .our-text{
        margin-top: 50px;
    }
    .brand-4-screen-text img{
        margin-bottom: 0px;
    }
    .brand-4-screen-text p{
        max-width: 300px;
        font-size: 24px;
        line-height: 36px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-4-screen .pak{
        margin-top: 187px;
        margin-left: 15px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-4-screen .pak-title{
        margin-left: 0px;
    }
    .img-bottle05{
        left: 330px;
    }
    .img-bottle1{
        left: 430px;
    }
    .img-bottle15{
        left: 537px;
    }
}
/*  */
@media (max-width: 580px) {
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper h1 .not-bg-text img{
        width: 300px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text{
        left: -166px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-1{
        top: -554px !important;
        left: 177px !important;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-2{
        left: 108px !important;
        top: 58px !important;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-2 img{
        width: 100px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-3{
        left: 240px !important;
        top: 65px !important;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-3 img{
        width: 160px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .bottle-wrapper .info-wrap{
        left: 93%;
        top: -102px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen{
        height: 621px;
    }
    .zhigulevskoe-draft-advantage{
        margin-left: 0px;
        margin-top: 90px;
        width: 300px;
        padding-left: 10px;
        font-size: 20px;
        text-align: justify;
        margin-right: auto;
        margin-left: auto;
    }
    .zhigulevskoe-draft-bs2-img1{
        left: 1%;
        width: 150px;
        top: 986px;
    }
    .zhigulevskoe-draft-bs2-img2{
        left: 70%;
        width: 140px;
        top: 920px;
    }
    .img-bottle05{
        top: 240px;
        left: 130px;
    }
    .img-bottle1{
        left: 230px;
        top: 170px;
    }
    .img-bottle15{
        left: 337px;
        top: 210px;
    }
}
/*  */
@media (max-width: 460px) {
    .title-zhigulevskoe-draft img{
        width: 300px;
    }
    .title-zhigulevskoe-draft-ul img{
        width: 150px;
    }
}
@media (max-width: 400px) {
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .bottle-wrapper .info-wrap{
        left: auto;
        top: -102px;
        right: -300px;
    }
    .brand-wrapper.brand-zhigulevskoe-draft .brand-1-screen .text-wrapper .dop-text .span-3{
        margin-top: 0px !important;
    }
    .img-bottle05{
        top: 280px;
        left: 90px;
        width: 100px;
    }
    .img-bottle1{
        left: 160px;
        top: 220px;
        width: 100px;
    }
    .img-bottle15{
        left: 224px;
        top: 280px;
        width: 100px;
    }
}