/* node that hides system scrollbar by overflow: hidden; */
.baron {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    background: transparent;
    box-shadow: none;
    text-align: left;
    white-space: normal;
}